{% extends 'base.html' %}

{% load static %}
{% load addclass %}

{% block title %}
    My character
{% endblock %}

{% if form.errors %}
    <p>Error in the form. Please try again.</p>
{% endif %}

{% block content %}

    {% include "border.html" with border=object.name %}

    <div class="container main-block">
        <form method="post" class="from-group">
            {% csrf_token %}

            {{ form.name | add_class:"my-form-control wide-m" }}

            <div class="row mt-2">

                <div class="col-lg-6 col-md-12">
                    <label for="id_character_class">Class :</label>
                    {{ form.character_class | add_class:"my-form-control wide-m" }}
                    <label for="id_character_level" class="mt-3">Level :</label>
                    {{ form.character_level | add_class:"my-form-control wide-m" }}
                    <label for="id_character_race" class="mt-3">Race :</label>
                    {{ form.character_race | add_class:"my-form-control wide-m" }}
                </div>

                <div class="col-lg-6 col-md-12">
                    <label for="id_details">Character description and detail :</label>
                    {{ form.details | add_class:"my-form-control wide-m" }}
                </div>

            </div>

            <button type="submit" class="btn m-3">Update {{ object.name }}</button>
        </form>

    </div>
{% endblock %}
