{% extends 'base.html' %}

{% load static %}
{% load addclass %}

{% block title %}
    {{object.title}} by {{object.owner.username}}
{% endblock %}


{% block content %}

    {% include "border.html" with border=object.title %}

    <div class="container main-block">
        <div class="">

            <h2>{{ object.name }}</h2>

            <p class="wide-m mt-2">{{ form.character_race }} {{ form.character_class }} level {{ form.character_level }}</p>

            <p class="wide-m mt-2">{{ object.details }}</p>

        </div>

    </div>

{% endblock %}
